Package: fonts-mathjax-extras
Source: mathjax
Version: 2.7.4+dfsg-1
Architecture: all
Maintainer: Dmitry Shachnev <mitya57@debian.org>
Installed-Size: 2206
Recommends: fonts-mathjax
Suggests: libjs-mathjax
Breaks: libjs-mathjax (<< 2.1)
Replaces: libjs-mathjax (<< 2.1)
Section: fonts
Priority: optional
Multi-Arch: foreign
Homepage: https://www.mathjax.org
Description: JavaScript display engine for LaTeX and MathML (extra fonts)
 MathJax was designed with the goal of consolidating the recent advances in web
 technologies into a single, definitive, math-on-the-web platform supporting
 the major browsers and operating systems.
 .
 It requires no setup on the part of the user (no plugins to download or
 software to install), so the page author can write web documents that include
 mathematics and be confident that users will be able to view it naturally and
 easily. Simply include MathJax and some mathematics in a web page, and MathJax
 will do the rest.
 .
 This package contains EOT fonts for MathJax, that are provided in addition to
 OTF, SVG and WOFF fonts in "fonts-mathjax" package.
